#contact_modal {
    display: none;    
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(26, 39, 156, 0.4);
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}



.modal_name {
    width: 100%;
    font-size: clamp(2rem, 3vw, 4rem);
}


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}


.main_content {
    margin: 0 100px;

}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.name.name-xl {
    font-size: 64px;
}

.localisation.localisation-xl {
    font-size: 24px;
}

.tag.tag-xl {
    font-size: 18px;
    padding-top: 19px;
}

.name.name-xl,
.localisation.localisation-xl,
.tag.tag-xl {
    margin: 0;
}


.photographer_work {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.title_media {
    color: #901C1C;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 290px;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-aside {
    color: #901C1C;
}

.nbrLikes {
    font-size: 24px;
}

.fas.fa-heart {
    font-size: 21px;
}








.filter {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 25px;
    margin: 20px 0 30px 100px;
}


.filter_section{
    position: relative;
    height: 100%;
}

.dropdown {
    z-index: 10;
    position: absolute;
    overflow: hidden;
    color: #FFF;
    border-radius: 5px;
    background: #901C1C;
}

.rotate{
    transform: rotate(180deg);
}

.dropdown_content {
    display: none;
    background-color: var(--color-primary);
    transition: max-height .1s ease-in-out;

}

.dropdown_content li {
    position: relative;
    width: 150px;

}

.dropdown_content li::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 1px;
    background: #901C1C;
}

.btn_list,
.dropdown_content li button{
    height: 50px;
    padding: 15px;
    font-size: 18px;
    color: #FFF;
    background: #901C1C;
}

.btn_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    background: #901C1C;
}

.dropdown_content li button {
    width: 100%;
    text-align: left;
}



.fixed-block {
    position: fixed;
    bottom: 0;
    right: 36px;
    background-color: #DB8876; /* Replace with your desired background color */
    /* Add any additional styling as needed */
    border-radius: 5px;

    width: 300px;
    height: 55px;
    flex-shrink: 0;

    .nbr-likes {
        color: #000;

        text-align: right;
        font-family: DM Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .price-date {
        color: #000;

        text-align: center;
        font-family: DM Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

