#contact_modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(26, 39, 156, 0.4);
}

.wrapper {
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}


.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover,
.contact_button:focus {
    background-color: #DB8876;
    color: black;
}

.contact_button.validation:hover,
.contact_button.validation:focus {
    background-color: #901C1C;
    color: black;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.modal_name {
    width: 100%;
    font-size: clamp(2rem, 3vw, 4rem);
    margin: 0 0 8px;
}


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    /*align-items: center;
    justify-content: space-between;*/
    padding: 8px 30px;
    margin: auto;
    max-width: 600px;
    margin-top: 15px;
}


/*.modal {
    justify-content: space-between;
   width: 100%;
}*/

.modal header img {
    cursor: pointer;
    height: 35px;
}

.modal header h2 {
    font-weight: normal;
    text-align: center;
    margin: 0;
    font-size: clamp(2rem, 3vw, 4rem);

}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

form label {
    color: #312E2E;
    font-size: 23px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 0;
}

.message {
    width: 100%;
    height: 150px;
}

.main_content {
    margin: 0 100px;

}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.name.name-xl {
    font-size: 64px;
}

.localisation.localisation-xl {
    font-size: 24px;
}

.tag.tag-xl {
    font-size: 18px;
    padding-top: 19px;
    color: #525252;
}

.name.name-xl,
.localisation.localisation-xl,
.tag.tag-xl {
    margin: 0;
}


.photographer_work {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.title_media {
    color: #901C1C;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 290px;
    margin: 10px 0;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-aside {
    color: #901C1C;
}

.nbrLikes {
    font-size: 24px;
}

.fas.fa-heart {
    font-size: 21px;
}

.filter {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 25px;
    margin: 20px 0 30px 100px;
}

.filter_title {
    font-size: 18px;
    font-weight: 700;
}

.rotate {
    transform: rotate(180deg);
}

.dropdown {
    /*position: relative;*/
    /* Ajout de cette ligne */
}

.dropdown_content {
    display: none;
    list-style-type: none;
    transition: max-height .1s ease-in-out;
}

.dropdown_content li {
    position: relative;
    width: 150px;

}

.dropdown_content li::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 55%;
    transform: translateX(-50%);
    width: 91%;
    height: 1px;
    background: white;
}

.btn_list,
.dropdown_content li button {
    border: 0;
    background: #901C1C;
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
    color: #FFF;
    height: 69px;
    width: 170px;
    text-align: left;
    padding-right: 20px;
}


.btn_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fixed-block {
    position: fixed;
    bottom: 0;
    background-color: #DB8876;
    height: 70px;
    width: 376px;
    right: 0;
    margin-right: 36px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    font-weight: 500;

}

.nbr-likes {
    display: flex;
    align-items: center;
    gap: 5px;
}

/*.dropdown {
    z-index: 10;
    position: absolute;
    overflow: hidden;
    color: #FFF;
    border-radius: 5px;
    background: #901C1C;
}*/


.lightbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*! max-width: 1000px; */
    /*! height: 90%; */
    /*! max-height: 1000px; */
    background-color: white;
    padding: 25px 60px 0;
    border-radius: 5px;
    /* opacity: 0; */
    transform: translateY(-150px);
    animation: fadeIn .3s ease-in-out forwards;
}

.lightbox_media {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.photo_lightbox,
.video_lightbox {
    /* height: calc(100% - 50px);*/
    height: 565px;
}

.lightbox_media figcaption {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
}

.close-btn {
    z-index: 100;
    position: absolute;
    top: 25px;
    right: 5px;
}

.btn_prev,
.btn_next {
    z-index: 100;
    position: absolute;
    top: 50%;
    border-radius: 5px;
    transform: translateY(-50%);
    padding: 5px;
}

.btn_next {
    right: 10px;
}

.btn_prev {
    left: 10px;
}

.btn_next::before,
.btn_prev::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: clamp(3rem, 6vw, 5rem);
    color: #901C1C;
}


@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}